/*** Styles reset ***/

html {
    box-sizing: border-box;
    font-size: 16px;
}
  
*, *:before, *:after {
    box-sizing: inherit;
    position: relative;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: 500;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

/*** Project styles ***/
* {
    font-family: 'Montserrat Alternates', Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.header {
    width: 100%;
    background-color: rgb(252,46,32);
    padding: 1.8rem 6rem 0;
    color: #000;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
}

.header__logo, .footer__logo {
    font-size: 1.2rem;
    display: block;
    font-weight: 700;
}

.header__nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
    width: 30%;
}

.header__nav_item, .footer__nav_item {
    list-style: none;
}

.header__nav_item a {
    color: #000;
    font-weight: 700;
}

.section {
    width: 100%;
    position: relative;
}

.section--banner {
    color: #fff;
}

.section--banner .section__title {
    text-align: left;
    padding: 0;
    color: #000;
}

.section--banner .section__text {
    text-align: left;
    padding: 0;
    margin: 0;
    color: #000;
}

.section--banner .section__content {
    max-width: 55%;
}

.section__bg {
    width: 100%;
    display: block;
    z-index: -2;
    position: relative;
}

.section__content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 6rem;
    max-width: 42rem;
}

.section__title {
    width: 100%;
    display: block;
    text-align: center;
    padding-top: 6rem;
    font-weight: 700;
}

.section__text {
    width: 100%;
    display: block;
    text-align: center;
    padding: 1rem 10rem;
    margin-bottom: 6rem;
}

.section__tiles {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    text-align: center;
    padding: 2rem 0 0;
}

.section__img {
    width: 14vw;
    height: auto;
}

.section__button {
    background-color: rgb(254,127,32);
    border: none;
    font-size: 1.4rem;
    width: 8rem;
    font-weight: 700;
    margin-bottom: 6rem;
}

.section__content_img {
    width: 25%;
    height: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 6rem;
    z-index: -1;
}

.section--green {
    background-color: rgb(156,252,80);
    padding: 0 6rem;
}

.section--green .section__text {
    padding: 1rem 0;
    margin: 0;
}

.banner__name {
    font-weight: 900;
    font-size: 10rem;
}

.banner__text {
    font-size: 2rem;
    margin-bottom: 5rem;
    font-weight: 700;
}

.banner__button {
    background-color: rgb(156,252,80);
    border: none;
    font-size: 2rem;
    width: 12rem;
    font-weight: 700;
}

.footer {
    padding: 1.8rem 6rem;
    background-color: rgb(51,51,51);
}


.footer__nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    color: #fff;
}

.footer__nav_item a {
    color: #fff;
    font-weight: 500;
}

@media (max-width: 1080px) {
    .header__nav {
        width: 60%;
    }
}

@media (max-width: 880px) {
    .header {
        padding: 1rem 3rem 0;
    }

    .footer {
        padding: 1rem 3rem;
    }

    .section__content {
        max-width: calc(100% - 6rem);
        left: 3rem;
    }

    .section--banner .section__content {
        position: relative;
        margin-top: -10%;
    }

    .section__content_img {
        width: 25%;
        right: 3rem;
    }

    .banner__name {
        font-size: 6rem;
    }
    .banner__text {
        font-size: 1.4rem;
    }

    .section__text {
        padding: 1rem 4rem 0;
    }

    .footer__nav_item {
        padding-top: 1rem;
    }
}

@media (max-width: 610px) {

    .header__nav {
        width: 100%;
        margin-top: 1rem;
    }

    .section__content {
        max-width: calc(100% - 12rem);
    }

    .banner__name {
        font-size: 3rem;
    }
    .banner__text {
        font-size: 1rem;
        margin-bottom: 1rem;
    }
}